<!DOCTYPE html>
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta charset="UTF-8">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
			<script defer src="https://kit.fontawesome.com/c8bd3745fb.js" crossorigin="anonymous"></script>
			<title>Page Title</title>
		</head>
	<body>
		<section class="hero is-primary">
		  <div class="hero-body">
			<div class="container">
			  <h1 class="title">
				Hero title
			  </h1>
			  <h2 class="subtitle">
				Hero subtitle
			  </h2>
			</div>
		  </div>
		</section>
		<div></div>
		<section class="section">
		<div class="container">
			<div class="columns is-vcentered">
			  <div class="column">
				First column
				<h1 class="title">
				Hello World！
				</h1>
				<p class="subtitle">
				This is the basic starter 
				template for Bulma
				</p>
				<div class="block">
				  <a class="button is-info">Find out more</a>
				  <a class="button is-outlined is-danger">Buy Now</a>
				</div>
			  </div>
			  <div class="column">
				<figure class="img is-16by9">
					<img src="{{ url_for('static',filename='img/dog.jpeg') }}">
				</figure>
			  </div>
			</div>
		</div>
		</section>
		  <section class="section">
			<div class="container">
			 <div class="columns">
			   <div class="column" >
				   <div class='box'>
				   	<div class="content">
						<span class="icon">
						<i class="fas fa-lg fa-home has-text-success"></i>
						</span>
						<div class="title is-size-6"> but is compatible with all font libraries, and has classes </div>
						<div class="subtitle is-size-6"> Icons are coloured the same way as text.also apply the is-bold class to this sectialso apply the is-bold class to this secti</div>
					</div>
					</div>
			 </div>
			 <div class="column">
				<div class='box'>
				   	<div class="content">
						<span class="icon">
						<i class="fab fa-ubuntu fa-lg has-text-info"></i>
						</span>
						<div class="title is-size-6"> I love U !! </div>
						<div class="subtitle is-size-6">also apply the is-bold class to this secti</div>
					</div>
					</div> 
			 </div>
			 <div class="column">
				 <div class='box'>
				   	<div class="content">
						<span class="icon">
						<i class="fas fa-lg fa-home has-text-success"></i>
						</span>
						<div class="title is-size-6"> U love Me !! </div>
						<div class="subtitle is-size-6">{{description}}</div>
					</div>
					</div>
			 </div>
			</div>
		  </section>
		  <section class="hero is-info">	  	
			<div class="hero-body">
			  <div class="container">
				 <div class="columns">
				   <div class="column">
					 <h1 class="title">hero section at the bottom of the page</h1>
				   </div>
				   <div class="column">
				 	 <h2 class="subtitle is-italic">Any content added within a level item will be vertically aligned.</h2>
				   </div>
				</div>
		  </section>
		<section class="section">
			<div class="container">
				<div class="level">
					<div class="level-item has-text-centered">
						<div>
							<p class="heading">Bones</p>
							<p class="title">5000</p>
						</div>
					</div>
					<div class="level-item has-text-centered">
						<div>
						<div class="heading">Balls</div>
						<div class="title">200</div>
						</div>
					</div>
					<div class="level-item has-text-centered">
						<div>
						<div class="heading">Bowls</div>
						<div class="title">2</div>
						</div>
					</div>
					<div class="level-item has-text-centered">
						<div>
						<div class="heading">Lead</div>
						<div class="title">1</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="hero is-primary">
		  <div class="hero-body">
			<div class="container">
			  <div class="columns is-vcentered">
				  	<div class="column">
					  <h2 class="title">觀迎觀看我的內容，如有興趣請留下連絡資訊</h2>
				  	</div>
				  	<div class="column">
					  	<div class="field">
							<div class="control has-icons-left">
								<input class="input" type="email" placeholder="電子郵件">
								<span class="icon is-small is-left">
								<i class="fas fa-envelope"></i>
								</span>
					  		</div>
						</div>

						<div class='field'>
							<div class="control">
								<textarea class="textarea" placeholder="輸入您的意見"></textarea>
							</div>
						</div>

						<div class="field">
                          <div class="control">
                            <button class="button is-link">Submit</button>
                          </div>
                        </div>

				  	</div>
			  	</div>
			</div>
		  </div>
		</section>

		<footer class="footer">
          <div class="content has-text-centered">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ac placerat vestibulum lectus mauris ultrices eros in cursus turpis. Risus in hendrerit gravida rutrum quisque non tellus. Laoreet suspendisse interdum consectetur libero id faucibus nisl. Dignissim enim sit amet venenatis urna cursus eget nunc. 
            </p>
          </div>
        </footer>

	</body>
	</html>


